#app-mount {
  background: url("https://i.imgur.com/CGzK3gG.png") center/cover no-repeat;
}

.tutorialContainer_f9623d .svg_c5f96a {
  background: url("https://i.imgur.com/fh1y5Y3.png") center/contain no-repeat;
}

#app-mount:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 25, 0.5)), color-stop(30%, transparent), color-stop(80%, transparent), to(rgba(0, 0, 25, 0.7))), radial-gradient(transparent 50%, rgba(0, 0, 25, 0.6));
  background: linear-gradient(to right, rgba(0, 0, 25, 0.5), transparent 30%, transparent 80%, rgba(0, 0, 25, 0.7)), radial-gradient(transparent 50%, rgba(0, 0, 25, 0.6));
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

:root {
  --color-high: rgb(255, 140, 0); /* Even darker Bright Yellow Orange */
  --color-mid: rgb(0, 200, 200); /* Even darker Vivid Cyan */
  --color-low: rgb(10, 10, 20); /* Even darker Blue */
  --color-high-mid: rgb(50, 100, 140); /* Even darker Light Steel Blue */
  --color-alert: rgb(255, 100, 0); /* Even darker Lighter Orange */
  --color-high-trans: rgba(255, 140, 0, 0.8);
  --color-low-trans: rgba(10, 10, 20, 0.6);
  --color-mid-trans: rgba(0, 200, 200, 0.5);
  --color-alert-trans: rgba(255, 100, 0, 0.7);
  --nier-font: sce-ps3_rodin_latinregular;
  --selector-img: url("https://accrazed.github.io/YoRHA-UI-BetterDiscord/assets/extras/nier-selector_low.png");
  --selector-img-invert: url("https://accrazed.github.io/YoRHA-UI-BetterDiscord/assets/extras/nier-selector_high.png");
}

::-moz-selection {
  background-color: var(--color-alert);
  color: var(--color-high);
}

::selection {
  background-color: var(--color-alert);
  color: var(--color-high);
}

.obscureWarning_aa9639 {
  color: var(--color-high);
}

